<?xml version="1.0"?>
<launch>

  <arg name="gui" default="false" />
  <arg name="headless" default="true" />
  <arg name="rviz" default="true" />
  <arg name="nav" default="true" />

  <env name="GAZEBO_MODEL_PATH" value="$(find gazebo_config)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(find scipio_simulation)/worlds/igvc_final.world"/>
  </include>

  <!-- Run the stereo image proc -->
<!--
<group ns="stereo_camera">
  <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">
    <arg name="manager" value="stereo_manager"/>
  </include>
</group>
-->
  <include file="$(find scipio_2dnav)/launch/static_transforms.launch"/>
  
  <include file="$(find scipio_2dnav)/launch/move_base.launch"/>
  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <param name="robot_description" textfile="$(find scipio_simulation)/sdf/scipio_simulation_from_sdf.urdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model scipio_simulation"
    output="screen">
  </node>


  <include file="$(find scipio_2dnav)/launch/localization/robot_localization.launch"/>
  <include file="$(find line_detection)/launch/igvc_linedetection_gazebo.launch"/>
  <include file="$(find scipio_2dnav)/launch/localization/rtabmap.launch" /> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scipio_2dnav)/rviz/navigation_setup.rviz" if="$(arg rviz)"/>

  
  <node name="voxel_grid_2_point_cloud" pkg="costmap_2d" type="costmap_2d_cloud">
    <remap from="voxel_grid" to="/move_base/local_costmap/obstacle_layer/voxel_grid"/>
    <remap from="voxel_marked_cloud" to="/move_base/local_costmap/obstacle_layer/marked_cloud"/>
    <remap from="voxel_unknown_cloud" to="/move_base/local_costmap/obstacle_layer/unknown_cloud"/>
  </node>


    


</launch>

